# In this file all Python packages are listed that you need for our project.
# If you want to start with our project sources, you can
# simple run 'pip install -r requirements.txt' to automatically install them on
# your machine

PyQt5
pyqt5-tools
